# ───────────────
# 📦 Dependencias y builds
# ───────────────
node_modules/
dist/
dist-ssr/
build/
.cache/
.vite/

# ───────────────
# ⚙️ Configuración local
# ───────────────
*.local
.env
.env.local
.env.development
.env.production
.env.test

# ───────────────
# 🧠 Logs y reportes
# ───────────────
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ───────────────
# 🧑‍💻 Editores
# ───────────────
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# ───────────────
# 🧵 Sistemas temporales a
# ───────────────
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ───────────────
# 💅 Archivos generados por herramientas de estilo
# ───────────────
*.css.map
*.scssc
*.sass-cache/